:root {
    --day-dark01: rgba(2, 2, 2, 1);
    --day-dark02: rgba(2, 2, 2, 0.9);
    --day-dark03: rgba(2, 2, 2, 0.75);
    --day-dark04: rgba(2, 2, 2, 0.5);
    --day-dark05: rgba(2, 2, 2, 0.25);
    --day-dark06: rgba(2, 2, 2, 0.1);
    --day-separator: rgba(2, 2, 2, 0.1);
    --day-white01: rgba(255, 255, 255, 1);
    --day-white02: rgba(255, 255, 255, 0.9);
    --day-white03: rgba(255, 255, 255, 0.75);
    --day-white04: rgba(255, 255, 255, 0.1);
    --day-background: rgba(247, 247, 247, 1);
    --day-i-background: rgba(247, 247, 247, 1);
    --day-ebackground: rgba(247, 247, 247, 0.5);
    --day-gold: rgba(255, 151, 30, 1);
    --day-admin: rgba(0, 87, 24, 1);
    --day-heart: rgba(255, 60, 60, 1);
    --day-brown: rgba(46, 46, 46, 1);
    --day-m-shadow01: rgba(2, 2, 2, 1);
    --day-m-shadow02: rgba(46, 46, 46, 1);
    --day-concealed-black: rgba(2, 2, 2, 1);

    --day-placeholder: #F3F3F3;
    --day-menu-shadow: 0px -4px 9px 0px rgba(0, 0, 0, 0.05),
        0px -16px 16px 0px rgba(0, 0, 0, 0.04),
        0px -35px 21px 0px rgba(0, 0, 0, 0.03),
        0px -63px 25px 0px rgba(0, 0, 0, 0.01),
        0px -98px 27px 0px rgba(0, 0, 0, 0.00);
}

.dark-theme {
    --day-dark01: rgba(255, 255, 255, 1);
    --day-dark02: rgba(255, 255, 255, 0.9);
    --day-dark03: rgba(255, 255, 255, 0.75);
    --day-dark04: rgba(255, 255, 255, 0.5);
    --day-dark05: rgba(255, 255, 255, 0.25);
    --day-dark06: rgba(255, 255, 255, 0.10);
    --day-separator: rgba(255, 255, 255, 0.1);
    --day-white01: rgba(2, 2, 2, 1);
    --day-white02: rgba(2, 2, 2, 0.9);
    --day-white03: rgba(2, 2, 2, 0.75);
    --day-white04: rgba(2, 2, 2, 0.1);
    --day-background: rgba(27, 27, 27, 1);
    --day-i-background: rgba(9, 9, 9, 1);
    --day-ebackground: rgba(18, 18, 18, 0.65);
    --day-gold: rgba(255, 151, 30, 1);
    --day-admin: rgba(85, 255, 133, 1);
    --day-heart: rgba(255, 99, 99, 1);
    --day-brown: rgba(34, 34, 34, 1);
    --day-m-shadow01: rgba(27, 27, 27, 1);
    --day-m-shadow02: rgba(43, 43, 43, 1);
    --day-concealed-black: rgba(34, 34, 34, 1);
    --day-placeholder: rgba(34, 34, 34, 1);

    --day-menu-shadow: 0px -3px 6px 0px rgba(255, 255, 255, 0.05), 0px -12px 12px 0px rgba(255, 255, 255, 0.04), 0px -26px 16px 0px rgba(255, 255, 255, 0.03), 0px -47px 19px 0px rgba(255, 255, 255, 0.01), 0px -73px 20px 0px rgba(255, 255, 255, 0.00);

}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    z-index: 3;
    color: var(--day-dark02);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    /* outline: 1px solid #fff; */
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: var(--day-white01);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

ul {
    list-style: none;
}

img {
    pointer-events: none;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    border: none;
    outline: transparent;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    border: none;
    outline: transparent;
    resize: none;
    word-break: break-all;
}

div[contenteditable="true"] {
    word-break: break-all;
    border: none;
    outline: transparent;
    -webkit-user-modify: read-write-plaintext-only;
}

.loading>.content>.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

.loading>.content>.spinner>.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
    stroke: var(--day-white01);
}

.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important
}

#submit-bttn {
    position: relative;
    overflow: hidden;
}

#submit-bttn>.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
}

#submit-bttn>.loading>.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-bttn>.feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    border-radius: 4px;
    background: #799F82;
    cursor: not-allowed;
    color: var(--day-white01);
    font-size: 24px;
    font-weight: 700;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

.space {
    padding-top: 256px;
    padding-bottom: 256px;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;
}

.overlay.show {
    opacity: 1;
    pointer-events: initial;
}

/* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 32px 64px;
    position: absolute;
    top: 0px;
    z-index: 4;
    transition: transform 0.15s;
    height: 110px;
}

nav.fixed {
    position: fixed;
    background-color: var(--day-white01);
    transform: translateY(-100%);
}

nav.fixed.normal {
    transform: translateY(0%);
}

nav.fixed.abs {
    position: absolute;
    padding: 32px 64px;
}

nav>.content>.logo>a {
    color: var(--day-dark01);
    font-weight: 700;
}

/* 
nav>.content>.links-list>.link>a {
    color: var(--day-dark03);
    font-weight: 100;
} */

/* nav>.content>.links-list>.link:hover>a {
    color: var(--day-dark01);
}

nav>.content>.links-list>.link.current>a {
    color: var(--day-dark01);
    font-weight: 600;
}

nav>.account>.transparent-bttn {
    color: var(--day-dark01);
    transition: color 0.1s linear;
}

nav>.account>.transparent-bttn:hover {
    color: var(--day-dark03);
}

nav>.account>.outline-buttn {
    border: none;
    background: var(--day-dark01);
    transition: background 0.1s linear;
    color: var(--day-white01);
    white-space: nowrap;
}

nav>.content {
    display: flex;
    align-items: center;
    gap: 64px;
}

nav>.content>.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.36px;
}

nav.home>.content>.logo>a {
    color: #fff;
}

nav.home>.more>svg {
    stroke: white;
}

nav>.content>.links-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav>.content>.links-list>.link>a {
    font-size: 20px;
    font-weight: 500;
    transition: color 0.1s linear;
}

nav.home>.content>.links-list>.link>a {
    color: rgba(255, 255, 255, 0.75);
}

nav.home>.content>.links-list>.link:hover>a {
    color: rgba(255, 255, 255, 0.90);
}

nav.home>.content>.links-list>.link.current>a {
    color: #fff;
}

nav>.account {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 46px;
}

nav>.account>.transparent-bttn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    background: none;
    transition: color 0.1s linear;
    pointer-events: none;
    display: none;
}

nav.home>.account>.transparent-bttn {
    color: #fff;
}

nav.home>.account>.transparent-bttn:hover {
    color: rgba(255, 255, 255, 0.9);
}

nav>.account>.outline-buttn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    background: none;
    transition: all 0.1s linear;
    pointer-events: none;
    display: none;
}

nav>.account>.outline-buttn {
    border: 2px solid var(--day-dark01);
    color: var(--day-dark01);
}

nav.home>.account>.outline-buttn {
    border: 2px solid #FFF;
    background: rgba(12, 12, 12, 0.25);
    color: #fff;
}

nav>.account>.acc-img {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background-color: #000;
    display: none;
    cursor: pointer;
}

nav>.account>.acc-img>a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

nav>.account>.acc-img.current>a {
    border: 2px solid var(--day-white01);
    outline: 2px solid var(--day-gold);
}

nav>.account>.acc-img>a>img {
    pointer-events: none;
}

nav>.more {
    display: none;
    background: none;
    width: 24px;
    height: 24px;
    z-index: 6;
}

nav.more {
    z-index: 10;
    background: none !important;
}

nav.more>.content>.logo>a {
    color: white;
}

nav>.more>svg {
    fill: var(--day-dark01);
}

nav.more>.more>svg {
    stroke: white;
    fill: white;
} */

/* .more-menu {
    background: rgba(0, 0, 0, 0.9);
    transform: translateY(-100%);
    transition: all 0.15s linear;
}

.more-menu.show {
    transform: translateY(0%);
}

.more-menu>.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.more-menu>.content>.links-list {
    position: absolute;
    left: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    top: calc(50% - 5vh);
    transform: translateY(-50%);
}

.more-menu>.content>.links-list>.link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 40px;
    font-weight: 400;
}

.more-menu>.content>.links-list>.link.current {
    color: #fff;
}

.more-menu>.content>.account {
    position: absolute;
    left: 48px;
    bottom: 48px;
    width: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.more-menu>.content>.account>button {
    background: none;
    color: #fff;
    font-weight: 400;
}

.more-menu>.content>.account>.transparent-bttn {
    font-size: 40px;
}

.more-menu>.content>.account>.outline-buttn {
    font-size: 32px;
    display: flex;
    width: 100%;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 3px solid #FFF;
}

.more-menu>.content>.acc-img {
    position: absolute;
    left: 48px;
    bottom: 48px;
    width: 96px;
    height: 96px;
    border-radius: 100px;
    background-color: white;
    display: none;
}

.more-menu>.content>.acc-img.current {
    border: 2px solid var(--day-white01);
    outline: 2px solid var(--day-gold);
}

.more-menu>.content>.acc-img>img {
    border-radius: 100%;
} */

footer {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

footer.abs {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer>.left {
    display: flex;
    flex-direction: column;
}

footer>.separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--day-white01);
}

footer>.circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--day-dark01);
    width: 72px;
    height: 72px;
    border-radius: 1000px;
    border: 1px solid var(--day-white01);

}

footer>.left>button {
    position: relative;
    background: none;
}

footer>.left>button>span {
    font-size: 24px;
    font-weight: 700;
    color: var(--day-white01);
    letter-spacing: 6px;
}

footer>.left>button>div {
    position: absolute;
    top: -2px;
    right: -13px;
}

footer>.left>p {
    font-weight: 200;
    font-size: 14px;
    color: var(--day-white02);
}

footer>.left>label {
    cursor: pointer;
    margin-top: 12px;
    border-radius: 1000px;
    width: 48px;
    height: 24px;
    border: 1px solid var(--day-white04);
    position: relative;
}

footer>.left>label>input {
    display: none;
}

footer>.left>label>.switch {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--day-white03);
    transition: all 0.1s ease-in-out;
    z-index: 5;
    background-color: var(--day-dark01);
}

footer>.left>label>.icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-items: center;
}

footer>.left>label>input:checked+.switch {
    right: calc(100% - 20px);
}

footer>.left>label>input:checked+.switch+.icon {
    left: calc(100% - 20px);
}

footer>.left>label>input:checked+.switch+.icon>#moon-icon {
    display: none;
}

#sun-icon {
    display: none;
}

footer>.left>label>input:checked+.switch+.icon>#sun-icon {
    display: initial;
}

footer>.right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer>.right>.buttons {
    display: flex;
}

footer>.right>.buttons>a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 1000px;
    cursor: pointer;
}

footer>.right>.buttons>a:hover {
    border: 1px solid var(--day-white02);
}

footer>.right>.lang {
    width: 100%;
    text-align: right;
    cursor: pointer;
    font-size: 12px;
    color: var(--day-white02);
    position: relative;
}

footer>.right>.lang>.crr-lang {
    text-align: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

footer>.right>.lang>.popup {
    position: absolute;
    padding: 8px 12px;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    left: -20%;
    background-color: var(--day-dark01);
    display: none;
    flex-direction: column;
    gap: 8px;
    width: 92px;
    z-index: 4;
    box-shadow: var(--day-m-shadow02);
}

footer>.right>.lang>.popup.show {
    display: flex;
}

footer>.right>.lang>.popup>.language {
    font-size: 12px;
    color: var(--day-white03);
    text-align: left;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    justify-content: space-between;
    background: none;
    border: none;
}

footer>.right>.lang>.popup>.language.selected {
    color: var(--day-white01);
}

footer>.right>.lang>.popup>.language.selected>div {
    display: initial;
}

footer>.right>.lang>.popup>.language>div {
    width: 4px;
    height: 4px;
    border-radius: 1000px;
    background-color: var(--day-gold);
    display: none;
}

.disclaimer-all {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.15s;
    z-index: 10;
}

.disclaimer-all.show {
    opacity: 1;
    pointer-events: initial;
}

#disclaimer-overlay {
    z-index: 5 !important;
}

.disclaimer-all>.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disclaimer-all>.content>.disclaimer {
    padding: 48px 40px;
    border-radius: 8px;
    background: var(--day-white01);
    transform: scale(0);
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    transition: transform 0.15s;
    z-index: 6;
}

.disclaimer-all>.content>.disclaimer.show {
    transform: scale(1);
}


.disclaimer-all>.content>.disclaimer>p {
    width: 435px;
    color: var(--day-dark01);
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.disclaimer-all>.content>.disclaimer>button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    color: var(--day-white01);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background: var(--day-dark01);
}

/* @media(max-width: 1100px) {
    nav>.content>.links-list {
        display: none;
    }

    nav>.account {
        display: none;
    }

    nav>.more {
        display: initial;
    }

    nav {
        padding: 32px 48px !important;
    }

    footer {
        padding: 0 48px;
    }
} */

/* @media(max-width: 800px) {
    footer>.social-media {
        display: none;
    }

    footer {
        grid-template-columns: auto auto;
        justify-items: center;
    }
} */

@media(max-width: 550px) {
    .disclaimer-all>.content>.disclaimer {
        width: 100%;
    }

    .disclaimer-all>.content>.disclaimer>p {
        width: 100%;
        font-size: 18px;
    }
}


/* @media(max-width: 500px) {

    footer>.logo {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
        padding: 0;
        justify-items: center;
    }

} */

@media(max-width: 400px) {
    /* nav {
        padding: 32px 24px !important;
    } */

    /* .more-menu>.content>.acc-img {
        left: 24px;
        bottom: 40px;
    }

    .more-menu>.content>.links-list {
        left: 24px;
    }

    .more-menu>.content>.account {
        left: 24px;
        bottom: 32px;
        width: calc(100% - 48px);
        gap: 16px;
    }

    .more-menu>.content>.account>.transparent-bttn {
        font-size: 32px;
    }

    .more-menu>.content>.account>.outline-buttn {
        font-size: 28px;
    } */
}















/* FONT */

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Thin.ttf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-ExtraLight.ttf");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Light.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Black.ttf");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}


/* BASIC STYLES */

.b-h-p-flex {
    width: 417px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.b-h-p-flex.full {
    width: fit-content;
}

.b-header {
    font-size: 64px;
    font-weight: 700;
    line-height: 103.5%;
    color: var(--day-white01);
}

.b-header.straight {
    white-space: nowrap;
}

.b-paragraph {
    font-size: 24px;
    color: var(--day-white02);
}

.b-glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, white 0%, transparent 50%);
    opacity: 0.05;
}

.b-gradient {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: linear-gradient(to right, #FF971E, #FFDEB8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 1100px) {
    footer {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media(max-width: 650px) {
    .b-header.straight {
        white-space: initial;
    }

    .b-h-p-flex {
        width: 100%;
    }



    .b-glow {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 450px) {
    footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    footer>.circle {
        width: 48px;
        height: 48px;
    }
}

@media(max-width: 400px) {
    .b-header {
        font-size: 56px;
    }

    .b-paragraph {
        font-size: 22px;
    }

}