:root {
    --day-dark01: rgba(12, 12, 12, 1);
    --day-dark02: rgba(12, 12, 12, 0.9);
    --day-dark03: rgba(12, 12, 12, 0.75);
    --day-dark04: rgba(12, 12, 12, 0.5);
    --day-dark05: rgba(12, 12, 12, 0.25);
    --day-dark06: rgba(12, 12, 12, 0.1);
    --day-separator: rgba(12, 12, 12, 0.1);
    --day-white01: rgba(255, 255, 255, 1);
    --day-white02: rgba(255, 255, 255, 0.9);
    --day-background: rgba(247, 247, 247, 1);
    --day-i-background: rgba(247, 247, 247, 1);
    --day-ebackground: rgba(247, 247, 247, 0.5);
    --day-gold: rgba(255, 151, 30, 1);
    --day-admin: rgba(0, 87, 24, 1);
    --day-heart: rgba(255, 60, 60, 1);
    --day-brown: rgba(46, 46, 46, 1);
    --day-m-shadow01: rgba(12, 12, 12, 1);
    --day-m-shadow02: rgba(46, 46, 46, 1);

    --night-dark01: rgba(255, 255, 255, 1);
    --night-dark02: rgba(255, 255, 255, 0.9);
    --night-dark03: rgba(255, 255, 255, 0.75);
    --night-dark04: rgba(255, 255, 255, 0.5);
    /* --night-dark04: rgba(255, 255, 255, 0.75); */
    --night-dark05: rgba(255, 255, 255, 0.25);
    --night-separator: rgba(255, 255, 255, 0.1);
    --night-white01: rgba(12, 12, 12, 1);
    --night-white02: rgba(12, 12, 12, 0.9);
    --night-background: rgba(27, 27, 27, 1);
    --night-i-background: rgba(9, 9, 9, 1);
    --night-ebackground: rgba(18, 18, 18, 0.65);
    --night-admin: rgba(85, 255, 133, 1);
    --night-heart: rgba(255, 99, 99, 1);
    --night-brown: rgba(34, 34, 34, 1);
    --night-m-shadow01: rgba(27, 27, 27, 1);
    --night-m-shadow02: rgba(43, 43, 43, 1);
}

.dark-theme {
    --day-dark01: rgba(255, 255, 255, 1);
    --day-dark02: rgba(255, 255, 255, 0.9);
    --day-dark03: rgba(255, 255, 255, 0.75);
    --day-dark04: rgba(255, 255, 255, 0.5);
    --day-dark05: rgba(255, 255, 255, 0.25);
    --day-dark06: rgba(255, 255, 255, 0.10);
    --day-separator: rgba(255, 255, 255, 0.1);
    --day-white01: rgba(12, 12, 12, 1);
    --day-white02: rgba(12, 12, 12, 0.9);
    --day-background: rgba(27, 27, 27, 1);
    --day-i-background: rgba(9, 9, 9, 1);
    --day-ebackground: rgba(18, 18, 18, 0.65);
    --day-gold: rgba(255, 151, 30, 1);
    --day-admin: rgba(85, 255, 133, 1);
    --day-heart: rgba(255, 99, 99, 1);
    --day-brown: rgba(34, 34, 34, 1);
    --day-m-shadow01: rgba(27, 27, 27, 1);
    --day-m-shadow02: rgba(43, 43, 43, 1);
}


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    z-index: 3;
    color: var(--day-dark02);
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: var(--day-white01);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

ul {
    list-style: none;
}

img {
    pointer-events: none;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    border: none;
    outline: transparent;
}

textarea {
    border: none;
    outline: transparent;
    resize: none;
    word-break: break-all;
}

div[contenteditable="true"] {
    word-break: break-all;
    border: none;
    outline: transparent;
}

.loading>.content>.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

.loading>.content>.spinner>.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
    stroke: white;
}

#submit-bttn {
    position: relative;
    overflow: hidden;
}

#submit-bttn>.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
}

#submit-bttn>.loading>.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-bttn>.feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    border-radius: 4px;
    background: #799F82;
    cursor: not-allowed;
    color: var(--day-white01);
    font-size: 24px;
    font-weight: 700;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

.space {
    padding-top: 256px;
    padding-bottom: 256px;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;
}

.overlay.show {
    opacity: 1;
    pointer-events: initial;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 32px 64px;
    position: absolute;
    top: 0px;
    z-index: 4;
    transition: transform 0.15s;
    top: 0;
}

nav.fixed {
    position: fixed;
    background-color: var(--day-white01);
    transform: translateY(-100%);
}

nav.fixed.normal {
    transform: translateY(0%);
}

nav.fixed.abs {
    position: absolute;
    padding: 32px 64px;
}

nav.fixed>.content>.logo {
    color: var(--day-dark01);
}

nav.fixed>.content>.links-list>.link {
    color: var(--day-dark03);
}

nav.fixed>.content>.links-list>.link:hover {
    color: var(--day-dark02);
}

nav.fixed>.content>.links-list>.link.current {
    color: var(--day-dark01);
}

nav.fixed>.account>.transparent-bttn {
    color: var(--day-dark01);
    transition: color 0.1s linear;
}

nav.fixed>.account>.transparent-bttn:hover {
    color: var(--day-dark03);
}

nav.fixed>.account>.outline-buttn {
    border: none;
    background: var(--day-dark01);
    transition: background 0.1s linear;
    color: var(--day-white01);
}

nav.fixed>.account>.outline-buttn:hover {
    background: var(--day-dark03);
}

nav>.content {
    display: flex;
    align-items: center;
    gap: 64px;
}

nav>.content>.logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.36px;
}

nav>.content>.links-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav>.content>.links-list>.link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-weight: 600;
    transition: color 0.1s linear;
}

nav>.content>.links-list>.link:hover {
    color: rgba(255, 255, 255, 0.90);
}

nav>.content>.links-list>.link.current {
    color: #fff;
}

nav>.account {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 46px;
}

nav>.account>.transparent-bttn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background: none;
    transition: color 0.1s linear;
    pointer-events: none;
    display: none;
}

nav>.account>.transparent-bttn:hover {
    color: rgba(255, 255, 255, 0.9);
}

nav>.account>.outline-buttn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #FFF;
    background: rgba(12, 12, 12, 0.25);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background: none;
    transition: all 0.1s linear;
    pointer-events: none;
    display: none;
}

nav>.account>.outline-buttn:hover {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

nav>.account>.acc-img {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background-color: #000;
    display: none;
    cursor: pointer;
}

nav>.account>.acc-img>a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

nav>.account>.acc-img>a>img {
    pointer-events: none;
}

footer {
    width: 100%;
    height: 100px;
    padding: 0 64px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    position: relative;
}

footer>.social-media {
    display: flex;
    gap: 4px;
    align-items: center;
}

footer>.social-media>a {
    display: flex;
    align-items: center;
}

footer>.logo {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.36px;
}

footer>.copyright {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
}

.disclaimer-all {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
    z-index: 10;
}

.disclaimer-all.show {
    opacity: 1;
    pointer-events: initial;
}

.disclaimer-all>.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disclaimer-all>.content>.disclaimer {
    padding: 48px 40px;
    border-radius: 8px;
    background: var(--day-white01);
    transform: scale(0);
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    transition: transform 0.15s;
    z-index: 6;
}

.disclaimer-all>.content>.disclaimer.show {
    transform: scale(1);
}


.disclaimer-all>.content>.disclaimer>p {
    width: 382px;
    color: var(--day-dark01);
    text-align: center;
    font-size: 16px;
    font-weight: 600;

}

.disclaimer-all>.content>.disclaimer>button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    color: var(--day-white01);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background: var(--day-dark01);
}

















/* FONT */

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Thin.ttf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-ExtraLight.ttf");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Light.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/Poppins/Poppins-Black.ttf");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}