header {
    margin-top: 110px;
    padding-left: 64px;
    padding-top: 18px;
}

header>h1 {
    color: var(--day-dark01);
    font-size: 48px;
    font-weight: 700;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
    margin-top: 32px;
    padding: 0 64px;
    margin-bottom: 128px;
    min-height: 60vh;
}

.articles>.article-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.articles>.article-placeholder>.img {
    height: 215px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--day-placeholder);
}

.articles>.article-placeholder>.name {
    margin-top: 12px;
    height: 24px;
    border-radius: 2px;
    background-color: var(--day-placeholder);
    width: 90%;
}

.articles>.article-placeholder>.date {
    margin-top: 12px;
    height: 24px;
    border-radius: 2px;
    width: 50%;
    background-color: var(--day-placeholder);
}

.article-popup {
    position: fixed;
    z-index: 6;
    width: 350px;
    height: 532px;
    background-color: var(--day-white01);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.article-popup.show {
    opacity: 1;
    pointer-events: initial;
    transform: translate(-50%, -50%) scale(1);
}

.article-popup>.img {
    width: 100%;
    position: relative;
    height: 321px;
    background-color: var(--day-dark01);
}

.article-popup>.img>img {
    display: none;
    object-fit: cover;
}

.article-popup>.img>img.show {
    display: initial;
}

.article-popup>.img>label {
    position: absolute;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    background-color: var(--day-dark02);
    width: 100%;
    height: 40px;
}

.article-popup>.img>label>span {
    color: var(--day-white01);
    font-size: 18px;
    font-weight: 600;
}

.article-popup>.img>label>input {
    display: none;
}

.article-popup>.img>label.show {
    color: var(--day-white01);
    font-size: 28px;
    font-weight: 500;
    height: 100%;
    top: 0;
    bottom: initial;
    background-color: var(--day-dark01);
}

.article-popup>.img>label.show>span {
    color: var(--day-white01);
    font-size: 28px;
    font-weight: 500;
}

.article-popup>input {
    width: calc(100% - 48px);
    margin-top: 24px;
    margin-left: 24px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--day-dark06);
    background: var(--day-background);
    color: var(--day-dark04);
    font-size: 20px;
    font-weight: 600;
}

.article-popup>.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.article-popup>.buttons>button {
    width: calc(100% - 48px);
    margin-left: 24px;
    height: 40px;
    border-radius: 4px;
    color: var(--day-white01);
    font-size: 18px;
    font-weight: 600;
}

.article-popup>.buttons>button.add {
    background-color: var(--day-dark01);
}

.article-popup>.buttons>button.delete {
    background-color: var(--day-heart);
    opacity: 0.5;
    cursor: not-allowed;
}

.article-popup>.buttons>button.delete.active {
    opacity: 1;
    cursor: pointer;
}

.add-article {
    position: fixed;
    right: 32px;
    bottom: 32px;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid var(--day-separator);
    background: var(--day-white01);
    z-index: 4;
    display: none;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.add-article.show {
    display: flex;
    pointer-events: initial;
}

@media(max-width: 1100px) {
    header {
        padding-left: 48px;
    }

    .articles {
        grid-template-columns: 1fr 1fr;
    }

    .articles {
        row-gap: 24px;
        margin-top: 24px;
        padding: 0 48px;
        margin-bottom: 128px;
    }
}

@media(max-width: 550px) {
    .articles {
        grid-template-columns: 1fr;
    }

    header {
        padding-left: 24px;
    }

    .articles {
        margin-top: 24px;
        padding: 0 24px;
        margin-bottom: 56px;
    }
}