.contents {
    padding: 128px 256px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.placeholder {
    display: flex;
    flex-direction: column;
}

.placeholder>.date {
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background-color: var(--day-placeholder);
}

.placeholder>.header {
    margin-top: 16px;
    width: 65%;
    height: 72px;
    border-radius: 8px;
    background-color: var(--day-placeholder);
}

.placeholder>.image {
    width: 100%;
    margin-top: 48px;
    height: 500px;
    border-radius: 8px;
    background-color: var(--day-placeholder);
}

.contents>.initial {
    display: flex;
    flex-direction: column;
}

.contents>.initial>.article-date {
    color: var(--day-dark03);
    font-size: 20px;
    font-weight: 600;
    display: none;
    width: fit-content;
}

.contents>.initial>.article-name {
    color: var(--day-dark01);
    font-size: 64px;
    font-weight: 700;
    display: none;
}

.contents>.initial>.article-img {
    margin-top: 48px;
    border-radius: 8px;
    height: 502px;
    display: none;
}

.contents>.added {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contents>.added>.placeholder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.contents>.added>.placeholder>.h {
    margin-top: 40px;
    width: 50%;
    height: 44px;
    background-color: var(--day-placeholder);
}

.contents>.added>.placeholder>.p {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contents>.added>.placeholder>.p>div {
    width: 100%;
    height: 16px;
    background-color: var(--day-placeholder);
}

.contents>.added>.placeholder>.p div:nth-child(5) {
    width: 55%;
}

.contents>.added>.header {
    margin-top: 32px !important;
    color: var(--day-dark01);
    font-size: 32px;
    font-weight: 600;
    line-height: 175%;
    width: 800px;
}

.contents>.added>.paragraph {
    color: var(--day-dark02);
    font-size: 20px;
    font-weight: 500;
    line-height: 175%;
    margin-top: 24px;
    width: 800px;
    word-break: break-all;
}

.contents>.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contents>.end>.separator {
    margin-top: 32px;
    width: 800px;
    height: 2px;
    border-radius: 10px;
    background: var(--day-separator);
}

.contents>.end>.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 800px;
    display: none;
}

.contents>.end>.wrap>.comments,
.contents>.end>.wrap>.comments>span {
    color: var(--day-dark01);
    font-size: 24px;
    font-weight: 700;
}

.contents>.end>.comments>.placeholder {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.contents>.end>.comments>.placeholder>.comment {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contents>.end>.comments>.placeholder>.comment>.up {
    display: flex;
    gap: 12px;
}

.contents>.end>.comments>.placeholder>.comment>.up>.img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background-color: var(--day-placeholder);
}

.contents>.end>.comments>.placeholder>.comment>.up>.user {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contents>.end>.comments>.placeholder>.comment>.up>.user>.name {
    width: 200px;
    height: 36px;
    background-color: var(--day-placeholder);
}

.contents>.end>.comments>.placeholder>.comment>.up>.user>.date {
    width: 100px;
    height: 20px;
    background-color: var(--day-placeholder);
}

.contents>.end>.comments>.placeholder>.comment>.text {
    width: 100%;
    height: 128px;
    background-color: var(--day-placeholder);
}

.contents>.end>.wrap>.likes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    pointer-events: none;
}

.contents>.end>.wrap>.likes>svg {
    cursor: pointer;
    position: relative;
}

.contents>.end>.wrap>.likes>svg path {
    pointer-events: none;
}

.contents>.end>.wrap>.likes>svg>.fill {
    opacity: 0;
    transform: translate(50%, 50%) scale(0);
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
}

.contents>.end>.wrap>.likes>svg>.fill.show {
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
}

.contents>.end>.wrap>.likes,
.contents>.end>.wrap>.likes>span {
    color: var(--day-heart);
    font-size: 24px;
    font-weight: 700;
}

.contents>.end>#add-comment {
    width: 800px;
    margin-top: 24px;
    display: none;
}

.contents>.end>#add-comment>.textarea {
    position: relative;
}

.contents>.end>#add-comment>.textarea>textarea {
    border-radius: 4px;
    border: 1px solid var(--day-dark05);
    height: 150px;
    width: 800px;
    padding: 12px;
    color: var(--day-dark03);
    font-size: 16px;
    font-weight: 500;
}

.contents>.end>#add-comment>.textarea>textarea.error {
    border: 1px solid var(--day-heart);
    color: var(--day-heart);
    animation: mini-shake 0.35s ease-in-out;
}

.contents>.end>#add-comment>.textarea>textarea.error::placeholder {
    color: var(--day-heart);
    animation: mini-shake 0.35s ease-in-out;
}

.contents>.end>#add-comment>.textarea>.max {
    position: absolute;
    bottom: 12px;
    right: 24px;
    color: var(--day-dark04);
    font-size: 12px;
    font-weight: 600;
}

.contents>.end>#add-comment>.textarea>.max.error {
    color: var(--day-heart);
    animation: mini-shake 0.35s ease-in-out;
}

@keyframes mini-shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(1%);
    }

    75% {
        transform: translateX(-1%);
    }
}

.contents>.end>#add-comment>button {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--day-concealed-black);
    border-radius: 4px;
    margin-top: 16px;
    height: 36px;
}

.contents>.end>.placeholder {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-top: 32px;
}

.contents>.end>.placeholder>.wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.contents>.end>.placeholder>.wrap>div {
    width: 6%;
    background-color: var(--day-placeholder);
    height: 36px;
}

.contents>.end>.placeholder>.wrap>div:nth-child(1) {
    width: 20%;
}

.contents>.end>.placeholder>.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contents>.end>.placeholder>.form>.big {
    width: 100%;
    height: 150px;
    background-color: var(--day-placeholder);
    border-radius: 4px;
}

.contents>.end>.placeholder>.form>.small {
    width: 100%;
    height: 36px;
    background-color: var(--day-placeholder);
    border-radius: 4px;
}

.contents>.end>.comments {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 32px;
    width: 800px;
}

.contents>.end>.comments>.comment {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contents>.end>.comments>.comment>.header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.contents>.end>.comments>.comment>.header>.img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 3px 3px 0px rgba(0, 0, 0, 0.09), 0px 6px 4px 0px rgba(0, 0, 0, 0.05), 0px 10px 4px 0px rgba(0, 0, 0, 0.01), 0px 16px 5px 0px rgba(0, 0, 0, 0.00);
}

.contents>.end>.comments>.comment>.header>.text {
    display: flex;
    flex-direction: column;
}

.contents>.end>.comments>.comment>.header>.text>.name {
    color: var(--day-dark01);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;

}

.contents>.end>.comments>.comment>.header>.text>.date {
    color: var(--day-dark04);
    font-size: 14px;
    font-weight: 600;
}

.contents>.end>.comments>.comment>p {
    color: var(--day-dark02);
    font-size: 20px;
    font-weight: 500;
    line-height: 175%;
    word-break: break-all;
}

.admin-buttons {
    position: fixed;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    gap: 16px;
}

.admin-buttons>button {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid var(--day-separator);
    background: var(--day-white01);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.13), 0px 5px 3px 0px rgba(0, 0, 0, 0.08), 0px 9px 4px 0px rgba(0, 0, 0, 0.02), 0px 15px 4px 0px rgba(0, 0, 0, 0.00);
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-buttons>button.big-text {
    color: var(--day-dark01);
    font-size: 32px;
    font-weight: 500;
    line-height: 175%;
}

.admin-buttons>button.small-text {
    color: var(--day-dark01);
    font-size: 28px;
    font-weight: 500;
    line-height: 175%;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background-color: var(--day-gold);
    z-index: 10;
}

@media(max-width: 1300px) {
    .contents {
        padding: 128px 128px;
    }

    .admin-buttons {
        display: none !important;
    }

    .contents>.added>.paragraph,
    .contents>.added>.header,
    .contents>.end>.separator,
    .contents>.end>.wrap,
    .contents>.end>#add-comment,
    .contents>.end>#add-comment>.textarea>textarea,
    .contents>.end>#add-comment>button,
    .contents>.end>.comments {
        width: 100%;
    }

}

@media(max-width: 1100px) {
    .contents {
        padding: 128px 48px 80px 48px;
    }

    .contents>.end>.comments {
        gap: 32px;
    }

    .contents>.initial>.article-img {
        margin-top: 32px;
    }
}

@media(max-width: 550px) {
    .contents>.initial>.article-img {
        height: 350px;
        margin-top: 40px;
    }

    .contents>.initial>.article-name {
        font-size: 52px;
    }
}

@media(max-width: 400px) {
    .contents {
        padding: 128px 0 80px 0;
    }

    .contents>.initial>.article-img {
        border-radius: 0;
    }

    .contents>.added,
    .contents>.end,
    .contents>.initial>.article-name,
    .article-date {
        margin-left: 24px;
    }

    .contents>.added,
    .contents>.end {
        width: calc(100% - 48px);
    }

}