body {
    background-color: #020202;
}

* {
    font-weight: 300;
}

header {
    display: flex;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    width: 100%;
    height: 100vh;
    position: relative;
}

header>.text {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header>.text>h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 103.5%;
    color: var(--day-white01);
}

header>.text>h1>span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: linear-gradient(to right, #FF971E, #FFF0DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header>.text>p {
    font-size: 24px;
    color: var(--day-white02);
}

header>.pizza {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: 128px;
    transform: translateY(-50%);
}


header>.pizza>.glow {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* background: radial-gradient(circle, #FFFFFF, transparent); */
    background-image: radial-gradient(circle at center, white 0%, transparent 70%);
    opacity: 0.2;
}

.img-section {
    display: flex;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    justify-content: flex-end;
    width: 100%;
    height: 300vh;
}

.img-section>.img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-section01 {
    /* background-color: rgba(255, 255, 255, 0.3); */
}

#img-section02 {
    /* background-color: green; */
}

#img-section03 {
    /* background-color: blue; */
}


.img-sections {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.sushi {
    width: 450px;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    opacity: 0;

}

.shaorma>.glow {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: radial-gradient(circle at center, white 0%, transparent 70%);
    opacity: 0.2;
}

.shaorma {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    opacity: 0;
}

.sushi>.glow {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: radial-gradient(circle at center, white 0%, transparent 70%);
    opacity: 0.2;
}

#reviews {
    position: absolute;
    top: 256px;
    width: 450px;
    height: 243px;
    right: 128px;
    z-index: 8;
}

#reviews>.content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 8;
    pointer-events: all;
}

.info {
    width: 450px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);

    transition: all 0.15s ease-in-out;
}

.info>.item-name {
    font-size: 18px;
    color: var(--day-white02);
    width: 100%;
    text-align: right;
}

.info>.separator {
    width: 100%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--day-white02);
    margin-top: 4px;
    position: relative;
    overflow: hidden;
}

/* 
.info>.separator>.separator-glow {
    width: 25%;
    height: 1px;
    border-radius: 100px;
    background-color: var(--day-gold);
    transform: translateX(-100%);
} */

.info>.review {
    margin-top: 32px;
    font-size: 24px;
    color: var(--day-white01);
}

.info>.extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.info>.extra>.name-flex {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info>.extra>.name-flex>.name {
    font-size: 20px;
    font-weight: 500;
    color: var(--day-white01);
}

.info>.extra>.name-flex>.stars {
    font-size: 18px;
    line-height: 20px;
    color: var(--day-gold);
}

.info>.extra>.more {
    display: flex;
    align-items: center;
    gap: 6px;
}

.info>.extra>.more>button {
    width: 24px;
    height: 24px;
    background: none;

    pointer-events: all;
    cursor: pointer;
}

.info>.extra>.more span {
    font-size: 18px;
    color: var(--day-white01);
}

.menu-section {
    display: flex;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 356px;
}

.menu-section>.abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu-section>.row {
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.menu-section>.row>.item {
    display: flex;
    gap: 12px;
}

.menu-section>.row>.item.dis {
    opacity: 0.1;
}

.menu-section>.row>.item>.img {
    width: 128px;
    height: 128px;
    border-radius: 8px;
}

.menu-section>.row>.item>.content {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    width: 228px;
    gap: 8px;
}

.menu-section>.row>.item>.content>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-section>.row>.item>.content>div>.name {
    font-weight: 500;
    font-size: 20px;
    color: var(--day-white01);
}

.menu-section>.row>.item>.content>div>.stars {
    font-size: 18px;
    line-height: 20px;
    color: var(--day-gold);
}

.menu-section>.row>.item>.content>p {
    font-weight: 200;
    line-height: 24px;
    font-size: 16px;
    color: var(--day-white03);
}

.articles-section {
    display: flex;
    align-items: top;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 256px;
    width: 100%;
    height: 250vh;
    position: relative;
    margin-top: 80px;
}

#articles-text-flex {
    margin-top: 48px;
}

.articles-section>.articles {
    position: absolute;
    top: 0;
    right: -28%;
    width: 1000px;
    height: 100vh;
}

.articles-section>.articles>.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.article {
    display: flex;
    gap: 48px;
    align-items: center;
    position: absolute;
    opacity: 0.1;
}

#article01 {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

#article02 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#article03 {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#article04 {
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
}

.article.selected {
    opacity: 1;
    z-index: 4;
}

.article>.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.article>.text>.name {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: var(--day-white01);
    width: 150px;
}

.article>.text>.date {
    font-style: italic;
    font-size: 20px;
    color: var(--day-white03);
}

.article>.img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 2px solid var(--day-white01);
    position: relative;
}

.article>.img>img {
    z-index: 10;
}

.article>.img>div {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    background-color: #020202;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--day-white01);
    z-index: -1;
    opacity: 0;
    transition: all 0.15s;
}

.article>.img:hover>div {
    transform: translate(-50%, -50%) scale(1.025);
}

.article.selected>.img>div {
    opacity: 1;
}

.relax-section {
    display: flex;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 356px;
}

.relax-section>.b-h-p-flex>p {
    width: 500px;
}

.relax-section>.img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.wait-section {
    display: flex;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    flex-direction: column;
    gap: 16px;
}

.wait-section>div>p {
    width: 442px;
    text-align: center;
}

.wait-section>button {
    width: 40px;
    height: 40px;
    background: none;
}

#wait-arrow {
    stroke: var(--day-white01);
}