nav {
    padding-top: 64px;
    position: absolute;
    top: 0;
    padding-left: 64px;
    /* left: 64px; */
    z-index: 4;
    display: flex;
}

nav>a {
    color: var(--day-dark01);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.36px;
}

header {
    height: 100vh;
    position: relative;
    width: 100%;
    padding-right: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header>.main-text>h1 {
    font-weight: 700;
    font-size: 56px;
    color: var(--day-dark01);
    text-align: center;
    line-height: 64px;
}

header>.main-text>.succes {
    text-align: center;
    color: var(--day-succes);
    font-weight: 500;
    font-size: 18px;
    display: none;
    width: 100%;
    line-height: 24px;
}

header>.main-text>.succes.show {
    display: block;
}

header>.main-text>.error {
    width: 100%;
    text-align: center;
    color: var(--day-error);
    font-weight: 500;
    font-size: 18px;
    display: none;
    line-height: 24px;
}

header>.main-text>.error.show {
    display: block;
}

header>img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
}

header>p {
    margin-top: 16px;
    color: var(--day-dark04);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#form>.s-div {
    display: grid;
    grid-template-columns: 132px 1fr;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#form>.s-div>.social-media {
    display: flex;
    align-items: center;
    gap: 4px;
}

#form>.s-div>.social-media>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: none;
    /* background-color: var(--day-background); */
}

#form>.s-div>.social-media>button:hover {
    background-color: var(--day-background);
}

header>form {
    margin-top: 40px;
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: center;
}

header>form>input {
    width: 400px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--day-background);
    color: var(--day-dark02);
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 48px;
}

header>form>input::placeholder {
    color: var(--day-dark04);
    font-weight: 500;
}

#submit-bttn {
    border-radius: 4px;
    background: var(--day-dark01);
    width: 200px;
    margin-left: auto;
    height: 44px;
    margin-top: 8px;
    position: relative;
}

#submit-bttn>.text {
    color: var(--day-white01);
    font-size: 18px;
    font-weight: 600;
}

.background {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.background>.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.background>.content>.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.background>.content>.photo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@media(max-width: 1100px) {
    header>img {
        display: none;
    }

    .background {
        display: initial;
    }

    header {
        padding-right: 0;

    }

    header>form>input,
    header>form>div>input {
        font-size: 20px;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
    }

    #submit-bttn>.text {
        font-size: 20px;
        color: white;
    }

    #submit-bttn {
        background-color: rgba(0, 0, 0, 0.75);
        /* height: auto; */
        /* width: auto; */
        /* padding: 8px 32px; */
    }

    #form>.s-div>.social-media>button {
        background-color: rgba(0, 0, 0, 0.25);
    }

    #form>.s-div>.social-media>button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    header>form>input::placeholder,
    header>form>div>input::placeholder {
        color: var(--day-dark02);
    }

    header>.main-text>h1 {
        color: rgba(255, 255, 255, 1);
    }

    header>.main-text>.succes {
        color: #5FEF85;
    }

    header>.main-text>.error {
        color: #FF7272;
    }

    header>p {
        color: rgba(255, 255, 255, 0.75);
    }

    header>form>input,
    header>form>div>input {
        color: rgba(255, 255, 255, 0.9);
    }

    header>form>input::placeholder,
    header>form>div>input::placeholder {
        color: rgba(255, 255, 255, 0.9);
    }

    nav>a {
        color: white;
    }

    #twitter-login-btn>svg>path {
        fill: white;
    }
}

@media(max-width: 800px) {}

@media(max-width: 550px) {
    nav {
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        width: 100%;
    }

    header>h1 {
        width: 100%;
        font-size: 52px;
        white-space: initial;
    }

    header>p,
    header>.separator,
    header>form,
    header>form>input,
    header>form>div>input,
    header>form>div,
    #submit-bttn {
        width: 100%;
    }

    header {
        padding: 0 24px;
    }

    header>form>input,
    header>form>div>input {
        font-size: 16px;
        height: 44px;
    }

    #submit-bttn>.text {
        font-size: 18px;
    }

    #form>.s-div {
        gap: 24px;
        display: flex;
        flex-direction: column-reverse;
    }

    #form>.s-div>.social-media {
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}