.filter-section {
    margin-top: 112px;
    padding: 0 64px;
}

.filter-section>.content {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    column-gap: 32px;
    align-items: center;
}

.filter-section>.content>.stars,
.filter-section>.content>.price {
    display: flex;
    align-items: center;
    gap: 16px;
}

.filter-section>.content>.stars>span,
.filter-section>.content>.price>span {
    color: var(--day-dark01);
    font-size: 20px;
    font-weight: 500;
}

.filter-section>.content>.stars>div {
    display: flex;
    align-items: center;
}

.filter-section>.content>.stars>div>svg {
    cursor: pointer;
}

.filter-section>.content>.stars>div>svg>rect {
    pointer-events: none;
}

.filter-section>.content>.stars>div>svg>path {
    pointer-events: none;
}

.filter-section>.content>.stars>div>svg>.fill {
    transition: all 0.15s ease-in-out;
}

.filter-section>.content>.stars>div>svg>.fill.not {
    transform: translate(50%, 50%) scale(0);
}

.filter-section>.content>.price>.slider {
    display: flex;
    align-items: center;
    position: relative;
}

.filter-section>.content>.price>.slider>input {
    width: 250px;
    height: 4px;
    border-radius: 100px;
    background-color: var(--day-background);
    border: none;
    appearance: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: var(--day-gold);
        width: 6px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.filter-section>.content>.price>.slider>.value {
    position: absolute;
    left: calc(100% - 14px);
    color: var(--day-dark03);
    font-size: 18px;
    font-weight: 600;
    bottom: -36px;
}

.filter-section>.content>.price>.slider>.progress {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--day-gold);
    border-radius: 100px;
    pointer-events: none;
}

.filter-section>.content>.categories {

    background: none;
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    z-index: 4;
}

.filter-section>.content>.categories>span {
    color: var(--day-dark01);
    font-size: 20px;
    font-weight: 500;
}

.filter-section>.content>.categories>svg {
    transition: all 0.1s ease-in-out;
}

.filter-section>.content>.categories>span:hover+svg {
    transform: translateY(10%);
}

.filter-section>.content>.categories>.popup {
    position: absolute;
    left: 50%;
    bottom: -404px;
    cursor: default;
    transform: translateX(-50%) scale(0);
    width: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--day-separator, rgba(12, 12, 12, 0.10));
    background: var(--day-white, #FFF);
    padding: 24px 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
}

.filter-section>.content>.categories>.popup.show {
    transform: translateX(-50%) scale(1);
    opacity: 1;
    pointer-events: initial;
}

.filter-section>.content>.categories>.popup>.content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    margin-left: 16px;
}

.filter-section>.content>.categories>.popup>.content>.pointer {
    position: absolute;
    left: calc(50% - 10px);
    top: -35px;
    transform: translateX(calc(-50% - 10px));
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    border-radius: 0px 2px 2px 0px;
    border-top: 2px solid var(--day-separator, rgba(12, 12, 12, 0.10));
    border-right: 2px solid var(--day-separator, rgba(12, 12, 12, 0.10));
    background: var(--day-white01);
}

.filter-section>.content>.categories>.popup>.content>.category {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--day-dark01);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.filter-section>.content>.categories>.popup>.content>.category>svg {
    pointer-events: none;
}

.filter-section>.content>.categories>.popup>.content>.category:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: var(--day-gold, #FF971E);
    pointer-events: none;
    transition: all 0.1s ease-in-out;
}

.filter-section>.content>.categories>.popup>.content>.category.selected:before {
    transform: translateY(-50%) scale(1);
}

.filter-section>.content>.search {
    position: relative;
}

.filter-section>.content>.search>.placeholder {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.filter-section>.content>.search>.placeholder>span {
    color: var(--day-dark01);
    font-size: 20px;
    font-weight: 500;
}

.filter-section>.content>.search>input {
    width: 100%;
    height: 100%;
    color: var(--day-dark01);
    font-size: 20px;
    font-weight: 500;
    padding-left: 32px;
}

.filter-section>.separator {
    width: 100%;
    height: 2px;
    background: var(--day-separator);
    margin-top: 24px;
}

.menu-bttn {
    position: fixed;
    right: 32px;
    bottom: 32px;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid var(--day-separator);
    background: var(--day-white01);
    z-index: 4;
}

.menu-bttn>.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-bttn>.wrap>.new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: var(--day-heart);
    color: var(--day-white01);
    font-size: 12px;
    font-weight: 500;
}

#menu-overlay.show {
    opacity: 1;
    pointer-events: initial;
}

.menu-side {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 384px;
    border-radius: 16px 0px 0px 16px;
    background: var(--day-white01);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.15s ease-in-out;
}

.menu-side.show {
    opacity: 1;
    pointer-events: initial;
    transform: translateX(0%);
}

.menu-side>.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 24px 32px;
    height: 100%;
}

.menu-side>.wrap>.logo {
    color: var(--day-dark01);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.36px;
}

.menu-side>.wrap>.orders {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    padding-top: 8px;
    height: calc(100vh - 275px);
    margin-top: 28px;
}

.menu-side>.wrap>.orders>.order {
    display: grid;
    grid-template-columns: 80px 1fr;
    width: 100%;
    column-gap: 16px;
    position: relative;
    height: 80px;
}

.menu-side>.wrap>.orders>.order>.img {
    width: 100%;
    height: 80px;
    position: relative;
}

.menu-side>.wrap>.orders>.order>.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.menu-side>.wrap>.orders>.order>.img>.quantity {
    position: absolute;
    top: -8px;
    right: -7px;
    border-radius: 100px;
    background: var(--day-dark02);
    width: 24px;
    height: 24px;
    color: var(--day-white01);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
}

.menu-side>.wrap>.orders>.order>.text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-side>.wrap>.orders>.order>.text>.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--day-dark01);
    font-size: 20px;
    font-weight: 700;
}

.menu-side>.wrap>.orders>.order>.text>.name>.delete {
    background: none;
    width: 16px;
    height: 16px;
}

.menu-side>.wrap>.orders>.order>.text>.stars {
    display: flex;
    height: 22px;
}

.menu-side>.wrap>.orders>.order>.text>.price {
    color: var(--day-dark03);
    font-size: 20px;
    font-weight: 600;
    margin-top: 2px;
}

.menu-side>.wrap>.separator {
    width: 100%;
    height: 1px;
    background: var(--day-separator);
    margin-top: 24px;
}

.menu-side>.wrap>.checkout {
    position: absolute;
    bottom: 24px;
    left: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 64px);
}

.menu-side>.wrap>.checkout>span {
    color: var(--day-dark01);
    font-size: 20px;
    font-weight: 600;
}

.menu-side>.wrap>.checkout>button {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: var(--day-dark01);
    color: var(--day-white01);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-sections {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0 64px;
}

.menu-section>.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-section>.content>h2 {
    color: var(--day-dark01);
    font-size: 28px;
    font-weight: 700;
}

.menu-section>.content>.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 48px;
}

#item-overlay.show {
    opacity: 1;
    pointer-events: initial;
}

.item-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 675px;
    height: 415px;
    border-radius: 8px;
    background: #FFF;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}

.item-popup.show {
    opacity: 1;
    pointer-events: initial;
    transform: translate(-50%, -50%) scale(1);
}

.item-popup>.image {
    width: 100%;
    height: 415px;
    position: relative;
}

.item-popup>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.item-popup>.text {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 32px 0;
}

.item-popup>.text>.header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.item-popup>.text>.header>.name {
    color: var(--day-dark01);
    font-size: 28px;
    font-weight: 700;
}

.item-popup>.text>.header>.price,
.item-popup>.text>.header>.price>span {
    color: var(--day-dark03);
    font-size: 20px;
    font-weight: 600;
}

.item-popup>.text>.reviews {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-popup>.text>.reviews>.stars {
    color: var(--day-gold);
    font-size: 24px;
    font-weight: 700;
}

.item-popup>.text>.reviews>.num,
.item-popup>.text>.reviews>.num>span {
    color: var(--day-gold);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.item-popup>.text>.description {
    margin-top: 8px;
    color: var(--day-dark01);
    font-size: 18px;
    font-weight: 500;
    overflow-y: auto;
    height: 188px;
}

.item-popup>.text>.end {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-popup>.text>.end>.masa,
.item-popup>.text>.end>.masa>span {
    color: var(--day-dark03);
    font-size: 16px;
    font-weight: 500;
}

.item-popup>.text>.end>button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background: var(--day-dark01);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.item-popup>.text>.end>button>span {
    color: var(--day-white01);
    font-size: 16px;
    font-weight: 600;
    display: none;
}

.item-popup>.reviews-side {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--day-white01);
    transform: translateY(100%);
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    transition: all 0.1s ease-in-out;
}

.item-popup>.reviews-side.show {
    pointer-events: initial;
    transform: translateY(0%);
}

.item-popup>.reviews-side>.content {
    padding: 32px 32px 0 32px;
    display: flex;
    flex-direction: column;
}

.item-popup>.reviews-side>.content>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-popup>.reviews-side>.content>.header>.back {
    background: none;
    color: var(--day-dark01);
    font-size: 28px;
    font-weight: 700;
    gap: 8px;
    display: flex;
    align-items: center;
}

.item-popup>.reviews-side>.content>.header>.reviews-stats {
    display: flex;
    align-items: center;
    gap: 14px;
}

.item-popup>.reviews-side>.content>.header>.reviews-stats>.stars-div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.item-popup>.reviews-side>.content>.header>.reviews-stats>.stars-div>.stars {
    color: var(--day-gold);
    font-size: 28px;
}

.item-popup>.reviews-side>.content>.header>.reviews-stats>.stars-div>.rating,
.item-popup>.reviews-side>.content>.header>.reviews-stats>.stars-div>.reviews-num {
    color: var(--day-gold);
    font-size: 20px;
    font-weight: 600;
    margin-top: 2px;
}

.item-popup>.reviews-side>.content>.header>.reviews-stats>button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-popup>.reviews-side>.content>.separator {
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background: var(--day-separator);
    margin-top: 12px;
}

.item-popup>.reviews-side>.content>.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
    padding-bottom: 24px;
}